<% include ../partials/header %>

<h1>Add a new comment to <%= campground.name %></h1>

<form action="/campgrounds/<%= campground._id %>/comments" method="POST">
    <input class="form-control" type="text" name="comments[text]" placeholder="text">
    <!--<input class="form-control" type="text" name="comments[author]" placeholder="author">-->
    <input class="btn btn-default btn-lg" type="submit">
</form>

<a href="/campgrounds/<%= campground._id %>">Go back</a>






<% include ../partials/footer %>
